
.leading-header{
    padding: 20px 20px 2px 20px;
    text-align: left;
}
.card {
    max-width: 100%;
    border-radius: 15px;
    margin: 10px;
    max-height: auto;
    display: block; 
}

.card-image {
    border-radius: 15px;
    height: auto; 
    width: auto; 
    width: 10vw; 
    height: 25vh;
}

.card-image:hover {
    transform: scale(1.03);
}
.card-image-outer {
    height: auto; 
    width: 10vw; 

    text-align: left;
}

.cardText{
    font-size: 14px;
}

.title {
    text-align: left;
    font-size: 28px;
    padding-left: 40px;
}

.text {
    text-align: left;
    font-size: 15px;
    padding-left: 40px;
}

.hour-section{
    display: flex;  
    justify-content: space-evenly;
    height: auto;
    max-height: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
    /* max-width: 10vw; */
}
.hour-button{
    margin: 5px;
    /* max-height:20px; */
}

