
.leading-header{
    padding: 20px 20px 2px 20px;
    text-align: left;
}
.card {
    max-width: 100%;
    border-radius: 15px;
    margin: 10px;
    max-height: auto;
}

.card-image {
    border-radius: 15px;
    height: auto; 
    width: auto; 
    /* max-width: 300px;  */
    max-height: 40vh;
}
.card-image-outer {
    height: auto; 
    width: 10vw; 

    text-align: left;
}

.cardText{
    font-size: 14px;
}

.title {
    text-align: left;
    font-size: 28px;
    padding-left: 40px;
}

.text {
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
}