
.leading-header{
    padding: 20px 20px 2px 20px;
    text-align: left;
}

.card {
    max-width: 100%;
    border-radius: 15px;
    margin: 10px;
    max-height: auto;
    display: block; 
}

.card-image {
    border-radius: 15px;
    height: auto; 
    width: auto; 
    width: 10vw; 
    height: 25vh;
    transition: transform 0.35s;
   
}

.card-image:hover {
    transform: scale(1.08);
    cursor: pointer;
}
.card-image-outer {
    height: auto; 
    width: 10vw; 
    overflow: hidden;
    text-align: left;
    border-radius: 15px;
}

.cardText{
    font-size: 14px;
}

.title {
    text-align: left;
    font-size: 28px;
    padding-left: 40px;
    cursor: pointer;
}

.text {
    text-align: left;
    font-size: 15px;
    padding-left: 40px;
}

.hour-section{
    display: flex;  
    justify-content: space-evenly;
    height: auto;
    max-height: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
    /* max-width: 10vw; */
}
.hour-button{
    margin: 5px;
    /* max-height:20px; */
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.sorry-card{
    padding: 30px;
    font-size: 25px;
    padding-top: 40px;
}